.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
Icon?
Thumbs.db
ehthumbs.db

build/
DerivedData/

*.app
*.ipa
*.pkg

*.xcodeproj/project.xcworkspace
*.xcodeproj/xcuserdata
*.xcworkspace/xcuserdata

*.xccheckout
*.moved-aside
IDEWorkspaceChecks.plist

*.log
*.crash

.build/
.swiftpm/
Packages/
!Package.resolved